/*
 *  Newborn Feeding Tracker CSS
 *  version: 0.0.1
 *  authors: jonuday
 *
 *  Description:
 *  New born baby feeding and "results" tracker for laction plan tracking.
 *
 */

body {
    width: 750px;
    margin: 0 auto 1em;
    padding: 0;
    background: #EAEAE0;
}

/* general */
h1 {
color: #555;
}
article {
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

article div {
padding-left: 10px;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

li {
    display: inline-block;
    margin-right: 0px;
    width: 85px;
  text-align: center;
  
}

li:first-child {
width: 100px;
  padding-left: 10px;
  text-align: left;
}

li:nth-child(4) {
width: 110px;
}
li:nth-child(5) {
  width: 50px;
  margin-right: 25px;
}

li:last-child {
    margin-right: 0;
}

/* header */
header {
padding-top: 20px;
}

header ul {
  border-bottom: 1px solid #AAA;
  margin-bottom: 8px;
}

/* Add new feeding */

.addFeeding {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 750px;
  min-width: 320px;
    border: 1px solid #CCC;
  border-top: 0;
    background-color: #F8F8F4;
    padding: 2px 8px 0px;
    margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.addFeeding a {
  color: #AAA;
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin: 4px 0 8px;
  text-align: left;
}
.addFeeding a:before {
  content: "+";
  color: #AAA;
  float: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  width: 16px;
  margin-right: 5px;
  text-align: center;
  border: 1px solid #CCC;
  border-radius: 3px;
}

.addFeeding a.open:before {
    content: "-";
}

.addFeeding div {
display: none;
}

.addFeeding ul {
  margin: 0;
  padding: 1em 0;
}

.addFeeding li {
    width: 32%;
  padding: 0;
  margin: 1em 0;
  vertical-align: top;
  text-align: left;
  
}
.addFeeding li:last-child {
border-right: none;
}
.addFeeding label {
  display: block;
  font-size: 0.75em;
    color: #555;
}
.addFeeding input[type="text"] {
    width: 65%;
    height: 20px;
    padding: 5px 10px;
}
.addFeeding input[type="checkbox"] {
margin: 1em 0;
}

.addFeeding button {
  margin: 0 0 1em; 
}