/*
 *  Newborn Feeding Tracker CSS
 *  version: 0.0.1
 *  authors: jonuday
 *
 *  Description:
 *  New born baby feeding and "results" tracker for laction plan tracking.
 *
 */

body {
    width: 750px;
    margin: 0 auto 1em;
    padding: 0;
    background: #EAEAE0;
}

/* general */
article {
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

article div {
padding-left: 10px;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

li {
    display: inline-block;
    margin-right: 0px;
    width: 85px;
  text-align: center;
  
}

li:first-child {
width: 100px;
  padding-left: 10px;
  text-align: left;
}

li:nth-child(4) {
width: 110px;
}
li:nth-child(5) {
  width: 50px;
  margin-right: 25px;
}

li:last-child {
    margin-right: 0;
}

/* header */
header ul {
border-bottom: 1px solid #000;
  margin-bottom: 5px;
}

/* Add new feeding */

.addFeeding {
    border: 1px solid #9C6721;
    border-top: 0;
    background-color: #FEFEFE;
    padding: 2px;
    margin: 0 0 1em;
}

.addFeeding ul {
    margin: 0 0 1em;
  padding: 0;
}
.addFeeding li {
    width: 13.2%;
  padding: 0 0 0 2px;
  margin: 0;
  vertical-align: top;
  text-align: left;
  
}
.addFeeding li:last-child {
border-right: none;
}
.addFeeding label {
  display: block;
  font-size: 0.75em;
    color: #555;
}
.addFeeding input[type="text"] {
    width: 80px;
}
.addFeeding .amount {
  
}